@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/rubik-v20-latin-700.woff2') format('woff2'),
        url('../fonts/rubik-v20-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", 'sans-serif';
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.header {
    margin: 0;
    padding: 30px 100px;
    background: #F6F6F6;

}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1240px;
}

.header-top {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-link {
    margin: 0 41px 0 0;
    padding: 8px 6px;
    background-color: #fff;
    border-radius: 7px;
    text-decoration: none;
}

.top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-inner-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555;
}

.top-inner-text+.top-inner-text {
    margin-left: 25px;
}

.i-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
}

.header-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search {
    margin: 0;
    padding: 13px 0 12px 15px;
    background: #FFFFFF;
    border-radius: 60px;
    border: none;
}

.header-search::placeholder {
    padding-left: 18px;
    background-image: url(../pictures/search.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 70px);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
}

.languages {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #DCE6FF;
    border-radius: 39px;
}

.lang-text {
    margin: 0;
    padding: 11px 13px 10px 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
}

.lang-text:first-child {
    margin: 0 0 0 2px;
    padding: 8px 7px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}

.sign-link {
    margin: 0;
    padding: 13px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    background: #7296EC;
    border-radius: 10px;
}

.sign-link:hover {
    opacity: 0.8;
    background-color: #2959CE;
    box-shadow: 2px 2px 5px 2px #000;
    opacity: 0.8;
}

.sign-link:active {
    opacity: 0.7;
    box-shadow: 1px 1px 3px 1px #000;
}

.header-nav {
    margin: 0 auto;
    padding: 30px 100px;

}

.nav-list {
    margin: 0;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #d1d1d1;
}

.header-item .nav-link {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    text-decoration: none;
    transition: color 1s;
}

.header-item+.header-item {
    margin-left: 34.44px;
}

.header-item .nav-link:hover {
    color: #000;
}

.nav-link {
    text-decoration: none;

}

.site-main {
    margin: 0;
    padding: 10px 100px 0px 100px;
}

.main-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-link {
    text-decoration: none;
}


.main-content {
    margin: 0 0 60px 0;
    padding: 50px 0 0 0;
    /* width: 1240px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-inner {
    margin: 0 0 10px 0;
    padding: 20px 17px 15px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F6F6F6;
    border-radius: 15px;
    transition: all 0.5s;
}

.main-inner:hover{
    box-shadow: 3px 3px 8px 2px #999;
}
.main-inner:active{
    box-shadow: 1px 1px 3px 1px #999;
}

.main-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}

.main-text {
    margin: 10px 0 15px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.text-inner {
    margin: 18px 0 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

.text-inner::before {
    background-image: url(../pictures/gazeta/кард/image.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 10px);
}

.text-img {
    margin-right: 10px;
    vertical-align: middle;
}

.main-bottom {
    margin: 0 0 60px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../pictures/bgimg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main-bottom-content {
    margin: 0;
    padding: 24px 71px 24px 29px;
    width: 1050px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bottom-title {
    margin: 0;
    padding: 0 500px 0 0;

}

.bottom-link {
    margin: 0;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #F78B3B;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
}

.bottom-link:hover {
    box-shadow: 2px 2px 5px 2px #000;
    opacity: 0.9;
}

.bottom-link:active {
    box-shadow: 1px 1px 3px 1px #000;
    opacity: 0.7;
}